/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  /* max-width: 100vw;
  overflow-x: hidden; */
  font-family: "Poppins", sans-serif, Arial;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Poppins", sans-serif, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.recharts-bar-rectangle {
  filter: none !important;
  stroke: none !important;
}

.recharts-bar-rectangle:hover {
  filter: none !important;
  stroke: none !important;
  stroke-width: 0 !important;
  outline: none !important;
}

.recharts-sector:focus,
.recharts-pie-sector:focus,
.recharts-surface *:focus {
  outline: none;
}

/* Custom styles for PhoneInput */
.custom-phone-input {
  padding-left: 70px !important;
  border-radius: 4px;
  font-size: 16px;
}

.custom-flag-button {
  padding: 0 10px !important;
  border-right: 1px solid #ccc !important;
  background-color: #fff !important;
}

.react-tel-input .selected-flag {
  display: flex;
  align-items: center;
  gap: 6px;
}

.react-tel-input .selected-flag .flag {
  margin-right: 5px;
}